:root{
  --accent-color: #491775;
  --base-color: white;
  --text-color: #242324;
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Poppins, Segoe UI, sans-serif;
  background: transparent;
}

/* ------------------------------------------------ HEADER ------------------------------------------------ */

header {
  padding: 8px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #9574af, #491775, #140125, #000000);
  width: 100%;
  flex-shrink: 0;
}

header h1 {
  color: #38bdf8;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 50px;
  width: auto;
  filter: brightness(0.8) drop-shadow(0 0 20px rgba(255, 145, 0, 0.349));
}

/* ------------------------------------------------ NAV ------------------------------------------------ */

nav{
  display: flex;
  gap: 8px;
  align-items: center;
}

nav button {
  line-height: 1;
  border: none;
  border-radius: 6px;
  background: #dd7b0bec;
  color: #ffffff;
  padding: 0;
  height: auto;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.3px;
  box-shadow: 0 0 20px rgb(5, 33, 44);
}

/* BOTÕES NORMAIS */

nav button.hedrBtn {
  font-weight: 500;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 20px;
  height: 28px;
  border-radius: 6px;
  line-height: 1;
  min-height: 0;
  -webkit-appearance: none;
  appearance: none;
}

nav button.hedrBtn i {
  margin-left: 8px;
  font-size: 1rem;
}

.hedrBtn:hover {
  background-color: #e6a04a;
  box-shadow: 0 0 8px rgba(10, 7, 2, 0.5);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
  transform: scale(1.05);
}

/* BOTÃO ENTRAR */

.hedrBtnCadast {
  font-weight: 700;
  background: #dd7b0b;
  color: white;
  border-radius: 16px;
  padding: 8px 25px;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.hedrBtnCadast:hover {
  box-shadow: 0 0 8px rgba(10, 7, 2, 0.5);
  background-color: #e6a04a;
  transition:
    background-color 0.2s ease,
    box-shadow 0.2s ease;
}

nav button.hedrBtnCadast i {
  margin-left: 8px;
  font-size: 0.9rem;
}

/* ------------------------------------------------ FOOTER ------------------------------------------------ */

footer {
  padding: 20px;
  text-align: center;
  font-size: 0.85rem;
  background: #10021b;
  color: #94a3b8;
  width: 100%;
  flex-shrink: 0;
  margin-top: auto;
}